table {
  table-layout: fixed;
  width:100%;
}

.calendar {
  margin: auto;
}

.cellz {
  word-wrap: break-word; 
  font-size:calc(6px + 0.4vw + 1.0vh);
  text-align: center;
}

.calendarsEvent {
  margin: auto;
}

#calendarHeader {
  word-wrap: break-word; 
  font-size:calc(16px + 0.2vw + 1.3vh);
  text-align: center;
}

#cal {
  height: 100%;
}

.arrow {
  margin: auto;
}

.notMonth {
  color: #9b9ea5;
  background-color: #d0d3d8;
}
/*
@media only screen and (max-width: 600px) {
  .weekDayz {
    
  }
}*/