<!DOCTYPE html>
<html ng-app="login">
  
  <head>
    <title> Log In/Registration Page</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <!-- Tab icon image -->
    <link rel="icon" href="resources/hurricane-icon.png">
    
    <!-- Angular script -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.9/angular.js"></script>
    
    <!-- External CSS link -->
    <link rel="stylesheet" href="resources/login-register.css">
    
    <!-- Bootstrap links -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    
  </head>
  
  <body ng-controller="mainController">
    
    <!-- Header -->
    <header class="d-flex justify-content-start pl-5 mb-5 border-bottom"><img class="img-fluid login_logo" src="resources/website_logo.png" alt="Rensselaer Events Calendar Logo"/></header>
    
    <!-- Form to sign in -->
    <div class="container bg-warning border px-1 py-5 rounded-circle">
      <form>
        
        <!-- Login username area -->
        <div class="form-group col d-flex justify-content-center">
          <div class="col-6">
            <label for="username">Username</label>
            <input ng-model="loginUsername" id="loginUsername" class="form-control d-flex justify-content-center" type="text" placeholder="Username"/>
          </div>
        </div>
        
        <!-- Login password area -->
        <div class="form-group col d-flex justify-content-center">
          <div class="col-6">
            <label for="password">Password</label>
            <input ng-model="loginPassword" id="loginPassword" class="form-control" type="password" placeholder="Password"/>
          </div>
        </div>
        
        <!-- Forgot Password hyperlink -->
        <div class="row">
          <div id="forgotPassword" class="form-group col d-flex justify-content-end mr-4 pr-4">
            <a href="#">Forgot Password?</a>
          </div>
          
          <!-- Login button -->
          <div id="submitDiv" class="form-group col d-flex justify-content-start ml-4 pl-4">
            <button ng-click="login()" type="submit" class="btn btn-primary pr-5 pl-5">Log In</button>
          </div>
        </div>

        <!-- Button that triggers register modal -->
        <div class="form-group col d-flex justify-content-center">
          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#registerModal">
            New here? Sign up
          </button>
        </div>

        <!-- Register Modal -->
        <div class="modal fade" id="registerModal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              
              <div class="modal-header">
                <h5 class="modal-title" id="modalLabel">Register</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              
              <div class="modal-body">
                <form>
                  
<!--
                   Organization picture 
                  <div class="form-group col d-flex justify-content-center">
                    <div class="col-6">
                      <label for="organizationPicture">Organization Profile Picture</label>
                      <input type="file" class="form-control d-flex justify-content-center" />
                    </div>
                  </div>
-->
                  
                  <!-- Register organization name area -->
                  <div class="form-group col d-flex justify-content-center">
                    <div class="col-6">
                      <label for="username">Organization</label>
                      <input ng-model="organization" id="organization" class="form-control d-flex justify-content-center" type="text" placeholder="Organization"/>
                    </div>
                  </div>
                  
                  <!-- Register username area -->
                  <div class="form-group col d-flex justify-content-center">
                    <div class="col-6">
                      <label for="username">Username</label>
                      <input ng-model="registerUsername" id="registerUsername" class="form-control d-flex justify-content-center" type="text" placeholder="Username"/>
                    </div>
                  </div>

                  <!-- Register password area -->
                  <div class="form-group col d-flex justify-content-center">
                    <div class="col-6">
                      <label for="password">Password</label>
                      <input ng-model="registerPassword" id="registerPassword" class="form-control" type="password" placeholder="Password"/>
                    </div>
                  </div>
                  
                  <!-- Register re-confirm password area -->
                  <div class="form-group col d-flex justify-content-center">
                    <div class="col-6">
                      <label for="password">Confirm Password</label>
                      <input ng-model="confirmPassword" id="confirmPassword" class="form-control" type="password" placeholder="Confirm password"/>
                    </div>
                  </div>
                  
                  <!-- Organization profile blurb/information -->
                  <div class="form-group col d-flex justify-content-center">
                    <div class="col-6">
                      <label for="blurb">Organization Profile Blurb</label>
                      <textarea ng-model="blurb" id="blurb" class="form-control" type="text" placeholder="Type in your profile description"></textarea>
                    </div>
                  </div>
                </form>
              </div>
              
              <!-- Register or Exit buttons for Modal -->
              <div class="modal-footer">
                <button ng-click="register()" type="button" class="btn btn-primary">Register</button>
              </div>
              
            </div>
          </div>
        </div>
        
      </form>
    </div>
    
    <!-- Footer -->
    <footer class="d-flex justify-content-center pt-3 pb-3 border-top fixed-bottom"><h5 class="text-muted">Rensselaer Events Calender(REC) Copyright &#169 2019</h5></footer>
    
  </body>
  
  <!-- jQuery script -->
  <script src="http://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
  
  <!-- Bootstrap JS -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  
  <script>
    var app = angular.module("login", []);
    app.controller("mainController", function($scope, $http){
      
      $scope.login = function() {
        
        console.log($scope.loginUsername);
        console.log($scope.loginPassword);
        
        $http({
          url: "http://localhost:8080/login",
          method: "POST",
          data: {
            username: $scope.loginUsername,
            password: $scope.loginPassword
          }
        }).then
          (function success(response){
            console.log(response);
            if(response.data == "Found"){
              alert("Logging In!");
              window.location.href = '/';
            } 
            else {
              alert("Account not registered!");
            }
          },
          function error(response){
            alert("Error while logging in!");
        });
      }
      
      $scope.register = function() {
        
        $("#registerModal").modal("hide");
        
        $http({
          method: "POST",
          url: "http://localhost:8080/register",
          data: {
            organization: $scope.organization,
            username: $scope.registerUsername,
            password: $scope.registerPassword,
            blurb: $scope.blurb,
          }
        }).then
          (function success(response){
            alert("Successfully registered! Please log in now!");
          },
          function error(response){
            alert("Error while registering!");
        });
      }
    });
  </script>
</html>