<!DOCTYPE html>
<html ng-app="login">
  <head>
    <title> Log In/Registration Page</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <!-- Tab icon image -->
    <link rel="icon" href="/resources/generalContent/fabicon.png">
    
    <!-- Angular script -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.9/angular.js"></script>
    
    <!-- External CSS link -->
    <link rel="stylesheet" href="resources/login-register.css">
    <link href="resources/generalContent/nav.css" rel="stylesheet" type="text/css"/>
    
    <!-- Fontawesome CSS CDN -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    
    <!-- Bootstrap links -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.9/angular-cookies.min.js"></script>
  </head>
  
  <body ng-controller="mainController" onload="allowShowPassword();">
    
    <!-- Navigation Bar -->
    <div id = "navbarInc" ng-include="'navbar.html'" class = "w-100"></div>
    
    <!-- Form to sign in -->
    <div class="someRoundedBorder container border px-1 py-5">
      <form>
        
        <!-- Displays the error (whatever it may be) -->
        <div ng-model="loginError" ng-show="loginError" id="loginError" class="d-flex justify-content-center">{{loginError}}</div>
        
        <!-- Login email area -->
        <div class="form-group col d-flex justify-content-center">
          <div class="col-6">
            <label for="email">Email</label>
            <input ng-model="loginEmail" id="loginEmail" class="form-control d-flex justify-content-center" type="email" placeholder="Email"/>
          </div>
        </div>
        
        <!-- Login password area -->
        <div class="form-group col d-flex justify-content-center">
          <div class="col-6">
            <label for="password">Password</label>
            <input ng-model="loginPassword" id="loginPassword" class="form-control" type="password" placeholder="Password"/>
          </div>
        </div>
        
        <!-- Forgot Password hyperlink -->
        <div class="row">
          <div id="forgotPassword" class="form-group col d-flex justify-content-end mr-4 pr-4">
            <a href="#">Forgot Password?</a>
          </div>
          
          <!-- Login button -->
          <div id="submitDiv" class="form-group col d-flex justify-content-start ml-4 pl-4">
            <button ng-click="login()" type="submit" class="btn btn-primary pr-5 pl-5">Log In</button>
          </div>
        </div>

        <!-- Button that triggers register modal -->
        <div class="form-group col d-flex justify-content-center">
          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#registerModal">
            New here? Sign up
          </button>
        </div>

        <!-- Register Modal -->
        <div class="modal fade" id="registerModal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
          <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
              
              <div class="modal-header">
                <h3 class="modal-title" id="modalLabel">Register</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              
              <div class="modal-body">
                <form>
                  
                  <!-- Displays the register error (whatever it may be) -->
                  <div ng-model="registerError" ng-show="registerError" id="registerError">{{registerError}}</div>
                  
                  <div class="row">
<!--
                     Organization picture 
                    <div class="col">
                      <div class="form-group col d-flex justify-content-center">
                        <div class="col-6">
                          <label for="organizationPicture">Organization Profile Picture</label>
                          <input name="profilePic" type='file' class="btn btn-primary" ng-model-instant onchange="angular.element(this).scope().imageUpload(this)"/>
                          <div ng-repeat="step in stepsModel">
                            <img class="form-control d-flex justify-content-center border" ng-src="{{step}}"/>
                          </div>
                        </div>
                      </div>
                    </div>
-->

                    <div class="col">
                      <!-- Register organization name area -->
                      <div class="form-group col d-flex justify-content-center">
                        <div class="col-6">
                          <label for="organization">Organization</label>
                          <input ng-model="organization" id="organization" class="form-control d-flex justify-content-center" type="text" placeholder="Organization"/>
                        </div>
                        <div class="col-6">
                        </div>
                      </div>

                      <!-- Register email area -->
                      <div class="form-group col d-flex justify-content-center">
                        <div class="col-6">
                          <label for="email">Email</label>
                          <input ng-model="registerEmail" id="registerEmail" class="form-control d-flex justify-content-center" type="text" placeholder="Email"/>
                          <label for="registerEmail" id="goodEmail"></label>
                        </div>
                        <div class="col-6">
                        </div>
                      </div>

                      <!-- Register password area -->
                      <div class="form-group col d-flex justify-content-center">
                        <div class="col-6">
                          <label for="registerPassword">Password</label>
                          <div class="showPassword">
                            <input ng-model="registerPassword" id="registerPassword" class="form-control input-field" type="password" onkeyup="checkPasswordRequirements();" placeholder="Password"/>
                            <span class="regpass fas fa-eye"></span>
                          </div>
                        </div>
                        
                        <div class="col-6">
                          <p id="lengthRequirement"></p>
                          <p id="specialCharRequirement"></p>
                          <p id="upperCaseRequirement"></p>
                          <p id="lowerCaseRequirement"></p>
                          <p id="digitRequirement"></p>
                        </div>
                      </div>

                      <!-- Register re-confirm password area -->
                      <div class="form-group col d-flex justify-content-center">
                        <div class="col-6">
                          <label for="confirmPassword">Confirm Password</label>
                          <div class="showConfirmPassword">
                            <input ng-model="confirmPassword" id="confirmPassword" class="form-control" type="password" onkeyup="checkPasswordMatch();" placeholder="Confirm password"/>
                            <span class="confpass fas fa-eye"></span>
                          </div>
                        </div>
                        
                        <div class="col-6">
                          <p id="matchingPassword"></p>
                        </div>
                      </div>

                      <!-- Organization profile blurb/information -->
                      <div class="form-group col d-flex justify-content-center">
                        <div class="col-6">
                          <label for="blurb">Organization Profile Blurb</label>
                          <textarea ng-model="blurb" id="blurb" class="form-control" type="text" placeholder="Type in your profile description"></textarea>
                        </div>
                        <div class="col-6">
                        </div>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
              
              <!-- Register or Exit buttons for Modal -->
              <div class="modal-footer">
                <button ng-click="register()" type="button" class="btn btn-primary">Register</button>
              </div>
              
            </div>
          </div>
        </div>
        
      </form>
    </div>
    
    <!-- Footer -->
    <footer class="d-flex justify-content-center pt-3 pb-3 border-top fixed-bottom"><h4 class="text-white">Rensselaer Events Calender(REC) Copyright &#169 2019</h4></footer>
    
  </body>
  
  <!-- External JS -->
  <script type="text/javascript" src="resources/login-register-angular.js"></script>
  <script type="text/javascript" src="resources/news/news.js"></script>
  
  <!-- jQuery script -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  
  <!-- External Navigation Bar included -->
  <script src="resources/navbar/navbar.js"></script>
  
  <!-- Bootstrap JS -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  <script src="resources/navbar/navbar.js"></script>
</html>