body {
  background-image: url("back.png");
}
#navbarInc {
  min-height: 170px;
}
#logo {
  width: 200px; 
  height: 80px;
}

a:link {
 color: white;
}

a:active {
  color: blue;
}

a:visited {
  color: gainsboro;
}

a {
  color: coral;
}

a:hover {
  color: lightskyblue;
}

nav {
  max-height: 50px;
  min-height: 15px;
}
nav a:link {
  color: white;
}

/* visited link */
nav a:visited {
  color: white;
}

/* mouse over link */
nav a:hover {
  color: lightskyblue;
}

/* selected link */
nav a:active {
  color: blue;
}
nav a {
  font-weight: bold;
  margin-left: 16px;
  font-size:calc(8px + 1.0vw);
}
