body {
  background-image: url("back.png");
}
#navbarInc {
  min-height: 170px;
}
#logo {
  width: 200px; 
  height: 80px;
}

a:link {
 color: white;
}

a:active {
  color: blue;
}

a:visited {
  color: gainsboro;
}

a {
  color: coral;
}

a:hover {
  color: lightskyblue;
}

nav {
  max-height: 50px;
  min-height: 15px;
}
nav a:link {
  color: white;
}

/* visited link */
nav a:visited {
  color: white;
}

/* mouse over link */
nav a:hover {
  color: lightskyblue;
}

/* selected link */
nav a:active {
  color: blue;
}
nav a {
  font-weight: bold;
  font-size: 1.3em;
  margin-left: 16px;
}

@media only screen and (max-width: 700px) 
{
  nav a {
    font-size: 1.2em;
  }
}

@media only screen and (max-width: 650px) 
{
  nav a {
    font-size: 1.1em;
  }
}

@media only screen and (max-width: 600px) 
{
  #logo {
    width: 180px;
    height: 75px;
  }
  nav a {
    font-size: 1em;
    margin-left: 14px;
  }
}

@media only screen and (max-width: 550px) 
{
  nav a {
    font-size: 0.9em;
    margin-left: 12px;
  }
}

@media only screen and (max-width: 500px) 
{
  nav a {
    font-size: 0.8em;
    margin-left: 11px;
  }
}
@media only screen and (max-width: 450px) 
{
  nav a {
    font-size: 0.7em;
    margin-left: 10px;
  }
}