#newsData {
  word-wrap: break-word; 
}

.event {
/*  background-image: radial-gradient(circle, rgba(255,20,20,1),rgba(255,20,20,1),rgba(255,10,10,1),rgba(255,0,0,1),rgba(245,0,0,1),rgba(235,0,0,1),rgba(213,0,0,1), rgba(170,0,0,1), rgba(150,0,0,1));*/
  background-color: rgba(170,0,0,1);
  color: white;
  width:90%;
  margin: auto;
}

.newsEvent {
  width:90%;
  margin: auto;
}